{% extends "base.html" %}

{% block title %}Home - Face Recognition{% endblock %}

{% block content %}

    <div class="container my-5">

           <div class="glass-card p-4 mb-4">
        <div class="text-center">
            <div class="icon-circle mx-auto mb-3" style="width: 80px; height: 80px;">
                <i class="fas fa-camera fa-2x text-primary"></i>
            </div>
            <h1 class="gradient-text mb-3"><i class="fa-regular fa-images"></i> Video Recognition</h1>
            <p class="lead">Select a clear photo of a person whose identity you want to verify or search from out videos. Our system uses advanced AI and facial recognition technology to analyze facial features and match them against existing videos profiles in the database.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8">
            <div class="glass-card p-4">
                <h2 class="text-center mb-4">
                    <i class="bi bi-search-heart me-2"></i> Match Face In Video
                </h2>
                <form action="/videorecognition" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="image" class="form-label">Select an Image</label>
                        <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-light btn-lg">
                            <i class="bi bi-activity me-2"></i> Scan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}